.card{
    background-color: rgb(126, 126, 126);
}
.card, .card a{
    color: rgb(0, 0, 0);
        
}
.card-container{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 90px;
    gap: 5px;
    min-width: 720px;
}
@media (max-width: 760px){
    .card{
        background-color: rgb(126, 126, 126);
        display: flex;
        align-items: center;
        width: 100%;
        max-height: min-content;
    }
    .card, .card a{
        color: rgb(0, 0, 0);
            
    }
    .container{
        max-width: 500px;
        
    }
        .card{
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: center;
            margin-top: 20px;
            margin-bottom: 90px;
            gap: 5px;
            min-width: 720px;
            max-width: 5%;
        }}