.coment{
    border: solid 2px black;
    border-radius: 8px;
    max-width: 25%; 
    margin-top: 10px;
    min-width: 720px;
}
.coment h5{
    display: grid;
    justify-content: center;
}
#star{
    display: grid;
    justify-content: center;
    margin-bottom: 25px;
}