/* Navbar */

.navbar-nav{
    display: flex;
    width: 100%;
    justify-content: center;
}
.bg-light{
    background-color: grey !important;
}
.navbar-brand img{
    width: 150px;
    margin-left: 400px;
    cursor:default ;
}
.navbar {
    min-width: 320px;
    max-width: 100%;
}
.link {
    color: white;
    padding: 0px;
    margin-right: 15px;

}
#atual{
    color: var(--black);
}
#atual:hover{
    color: var(--black);
    text-decoration: none; 
}
.link:hover{
    color: var(--black);
    text-decoration: none;
}
.navbar, .navbar-expand-lg, .bg-body-tertiary{
    padding: 0px;
    
}
.orcamento{
    margin-top: 10px;
    background-color: #47d7ac;
    color: white;
    border:none;
    border-radius: 50px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1em;
    font-size: 1rem;
    padding-top: 15px;
    padding-right: 10px;
    padding-bottom: 15px;
    padding-left: 10px;
}
.orcamento:hover{
    background-color: #3baa8b;
    color: #d1d5db;
}
.orcamento{
    display: flex;
    justify-content: flex-end;
}

/* Background do header */

.background{
    background-repeat:no-repeat ;
    background: fixed;
    background-image:url(../image/background\ sun.jpg);
    width: 100%;
    height: 967px;
}
.background h1, .background p{
    display: flex;
    justify-content: center;
    color: white;
}
h1 {
    margin-top: 350px;
    font-size: 50px;
}

/* Sobre */

.sep{
    width: 30%;
    border: 2px;
    border-top-color: var(--black);
    border-top-style:solid ;
    margin-bottom: 10px;
}
.sep{
   display: inline-block;
   margin: 0;
   border-top-color: #333;
   border-top-style: solid;
   border-top-width: 2px;
   line-height: 0;
}
.separator{
    --inner-content-custom-width: min(100%, 1200px);
    max-width: var(--inner-content-custom-width);
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    row-gap: 20px;
    column-gap: 10px;
}
.container{
    min-width: unset !important;
    width: 100%;
    position: relative;
}
.container{
    display: grid;
    position: relative;
    box-sizing: border-box;
    margin-left:auto !important;
    margin-right: auto !important;
    max-width: 50%;
    width: 100%;
    text-align: left;
    flex-direction: row;
    border: solid 1px black;
}
.sep{
    margin-bottom: 15px;
    margin-top: 15px;
}
.container p{
    font-size: 18px;
}
