.sep{
    padding: 1px;
    background-color: red;

}
.title {
    display: grid;
    flex-direction: column;
    padding: 50px;
}
strong{
    text-align: center;
    font-size: 25px;
    margin: 10px;
}
.subtitle{
    text-align: center;
    font-size: 14px;
}