.container {
    border: solid 2px black;
    border-radius: 8px;
    min-width: 25%;
    margin-top: 50px;
}
.form-floating{
    border: solid 1px black;
    border-radius: 8px;
}
.form-floating input, .form-floating textarea{
    width: 100%;
}
.button{
    background-color: rgb(25, 166, 221);
    border: 0px;
    padding: 12px;
    cursor: pointer;
    border-radius: 15px;
    
    margin: 10px;
}
.form-floating input,
.form-floating textarea{
    border: solid 1px black;
    border-radius: 8px;
}

@media (max-width:720px){
    .container{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin: 50%;
    }
}