.container {
    border: solid 2px black;
    width: 50%;
    margin-top: 50px;
}
.form-floating{
    border: solid 1px black;
    border-radius: 8px;
}
.form-floating input, .form-floating textarea{
    width: 100%;
}
.button{
    background-color: rgb(25, 166, 221);
    border: 0px;
    padding: 12px;
    cursor: pointer;
    border-radius: 10%;
    
    margin: 10px;
}